.footer-body{
    background-color: #daeff8;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.footer-grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

@media screen and (max-width:576px) {
    .footer-grid-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}