.blog-container{
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.blog{
    border: 2px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .blog-container{
        grid-template-columns: 1fr;
    }
}