.tablist-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
li{
    list-style-type: none;
    font-weight: bold;
}

.activeTab{
    background-color: #daeff8;
    border-radius: 5px;
}
.lion-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.lion-container img{
    padding: 10px;
    background-color: #daeff8;
    border-radius: 5px;
    height: 100%;
}

@media screen and (max-width:576px) {
    .tablist-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .lion-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}